<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ SITENAME }}</title>
  <!--<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css" type="text/css" media="all" charset="utf-8">-->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css" type="text/css" media="all" charset="utf-8">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/interface-0.1.css" type="text/css" media="all" charset="utf-8">

    <script  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        pad = "http://pads.osp.kitchen/p/aesthetic-programming.css";

        $(document).ready(function(){
            setTimeout(function(){
                $("#styles").load(pad + "/export/txt", function(){
                    window.setTimeout(function(){
                        $.getScript("/theme/js/paged.polyfill.js", function(data, textStatus, jqxhr) {})
                    })
                });
            });
        });
    </script>

    <style type="text/css" media="all" id="styles" > </style>
</head>
<body>
  {{ page.content }}
</body>
</html>
